.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
code/MettingSys.Web/bin/
code/MettingSys.Web/obj/
code/MettingSys.Web/upload/
code/MettingSys.Web/uploadPay/
code/MettingSys.API/bin/
code/MettingSys.API/obj/
code/MettingSys.BLL/bin/
code/MettingSys.BLL/obj/
code/MettingSys.Common/bin/
code/MettingSys.Common/obj/
code/MettingSys.DAL/bin/
code/MettingSys.DAL/obj/
code/MettingSys.DBUtility/bin/
code/MettingSys.DBUtility/obj/
code/MettingSys.Model/bin/
code/MettingSys.Model/obj/
code/MettingSys.Web.UI/bin/
code/MettingSys.Web.UI/obj/

dd-oa/node_modules/
dd-oa/dist/


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

