/*颜色*/
$fontSizeColor:#0d1015;

$blue_1:#4c96f1;

$blue_2:#87b3d8;

$border_bottom_color:#dcdcdc;

$gery_1:#a3a3a3;

$gery_2:#a6a6a6;

$gery_3:#f6f6f6;

$bg_color:#55be17;

/*字体大小*/
$size_30:.3rem;

$size_28:.28rem;

$size_20:.2rem;

$size-24:.24rem;

$size_48:.48rem;
